<div class="slideshow">
	<%for flyer in @flyers%>
		<%=image_tag flyer.photo.url(:medium), :size=>"400x500", :class=>"first"%>
		<script>addAddressToMap(<%=flyer.lat%>,<%=flyer.lng%>, '<%=flyer.photo.url( :thumb )%>');</script>
	<%end%>
</div>
<script>$('#address').html('<%=@origin.full_address%>');</script>
