<script>
	clearMap();
	<%if @now.length > 0%>
		<%for flyer in @now.reverse%>
			marker = addAddressToMap(<%=flyer.lat%>,<%=flyer.lng%>, { gravatar: '<%=gravatar_url(flyer.email, :size=>"20")%>', profile: '<%=Achievement.find_by_email(flyer.email).id%>', flyer_id: '<%=flyer.id%>', small: '<%=flyer.photo.url( :thumb )%>', large: '<%=flyer.photo.url( :medium )%>', text: '<%=sanitize flyer.media, :tags => %w(iframe), :attributes => %w(id class style src height width scrolling frameborder)%>'});
			markers["<%=flyer.id%>"] = marker;
		<%end%>
	<%end%>

	latitude = parseFloat( '<%= session[:ll].split(',')[0] %>' );
	longitude = parseFloat( '<%= session[:ll].split(',')[1] %>' );
	addUser();
	$('#address').html('<%=session[:origin]%>');
	<% if @flyer %>
		map.setCenter(markers["<%=@flyer.id%>"].getPosition());
		google.maps.event.trigger(markers["<%=@flyer.id%>"], 'click');
	<%end%>
</script>



<div id="nearby" class="content">
	<div class="header textual">Zero Board</div>
	<div class="flyers">
			<div id="mini_dragdrop_area">Submit Yours!</div>
		<%for flyer in @now%>
			<div class="f_element">
			<%= link_to(image_tag(flyer.photo.url(:thumb), :size=>"130x163", :class=> flyer.isrecent? == true ? "recent" : "soon"), flyer.photo.url(:large),:target=>"new" ) unless flyer.photo.nil? %>
			<%if flyer.isrecent?%><span class="show_on_map box" flyer_id="<%=flyer.id%>">Show On Map</span><%end%>
			</div>
		<%end%>
	</div>
</div>

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
