

<script>
	latitude = parseFloat( '<%= session[:ll].split(',')[0] %>' );
	longitude = parseFloat( '<%= session[:ll].split(',')[1] %>' );
	$('.physical_address').html('<%=session[:origin]%>');
	$('#address').attr('href','https://maps.googleapis.com/maps/api/staticmap?center='+latitude+','+longitude+'&zoom=14&size=400x400&sensor=false');
	$('#address_container').fadeIn("fast", function() {});

</script>

<% if @now.length > 0%>
<div class="flyers">
	<div class="current_filter"><%= @filter %></div>
	<%for flyer in @now%>
		<%= render :partial=>"flyer", :locals=>{:flyer=>flyer}%>
	<%end%>
</div>

<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
<% end %>
