<script>
	clearMap();
	<%if @now.length > 0%>
		<%for flyer in @now.reverse
			venue = reverse_venue_lookup( flyer.venue_id )
		%>

			marker = addAddressToMap(<%=flyer.lat%>,<%=flyer.lng%>, 
				{ 
					get_distance_from: <%=flyer.get_distance_from%> , 
					fbevent: '<%=flyer.fbevent%>', 
					gravatar: '<%=gravatar_url(flyer.email, :size=>"40")%>'<%if Achievement.find_by_email(flyer.email)%>, 
					profile: '<%=Achievement.find_by_email(flyer.email).id%>'<%end%>, 
					flyer_id: '<%=flyer.id%>', small: '<%=flyer.photo.url( :small )%>', 
					large: '<%= flyer.photo.url( :medium ) %>', 
					original: '<%=flyer.photo.url( :large )%>', 
					expiry:'<%=flyer.expiry%>',
					text: '<%=sanitize flyer.media.gsub("\n",'').gsub("'",'"'), :tags => %w(iframe), :attributes => %w(id class style src height width scrolling frameborder)%>',
					venue_name: '<%=venue["name"]%>',
					venue_location: '<%= venue["location"].has_key?("address") ? venue["location"]["address"] : "" %>',
					venue_icon: '<%=proc do
						      			if venue["categories"].length > 0
							    			icon_info = venue["categories"][0]["icon"]
							    			icon = icon_info["prefix"] + icon_info["sizes"][2].to_s + icon_info["name"]
						      			else
							    			icon = nil
						      			end
					      			end.call %>'
				}, 
				false);
			markers["<%=flyer.id%>"] = marker;
			oMarkers.push(marker);
		<%end%>
	<%end%>

	latitude = parseFloat( '<%= session[:ll].split(',')[0] %>' );
	longitude = parseFloat( '<%= session[:ll].split(',')[1] %>' );
	addUser();
	$('#address').html('<%=session[:origin]%>');
	<% if @flyer %>
		map.setCenter(markers["<%=@flyer.id%>"].getPosition());
		SetViewedMarker(markers["<%=@flyer.id%>"]);
	<%end%>
</script>


<div id="nearby" class="content">
	<div class="header textual">Zero Board</div>
	<div class="flyers">
			<div id="mini_dragdrop_area">Submit Yours!</div>
		<%for flyer in @now%>
			<div class="f_element">
			<div class="show_on_map" flyer_id="<%=flyer.id%>" style="position:relative; background-image: url('<%=flyer.photo.url(:medium)%>'); background-size: cover; height:130px; width:130px; margin:10px;">
				<div class="flyer_date"><%=flyer.expiry%></div>
			</div>
			<% image_tag(flyer.photo.url(:medium), :size=>"130x130", :class=> "show_on_map", :flyer_id=>flyer.id) unless flyer.photo.nil? %>
			</div>
		<%end%>
		<div class="spacer"></div>
	</div>
</div>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
