<table class="event_container<%if flyer.expiry.past?%> past<%else%> future<%end%>">
	<tr>
		<td class="left_side" width="200"> 
			<div class="date_head">
				<span style="font-weight:bold"><%=flyer.expiry.strftime("%A")%></span><br />
				<%=flyer.expiry.strftime("%B")%><br />
				<%=flyer.expiry.strftime("%d")%><br />
			</div>
		</td>
		<td class="middle_side">
			<a href="<%=flyer.photo.url(:large)%>"><%= image_tag(flyer.photo.url(:medium), :flyer_id=>flyer.id) unless flyer.photo.nil? %></a>
		
		</td>
		<td class="right_side" width="200">
			<ul>
				<li class="media"><%=linkify_hashtags(flyer.media, flyer.id, "acts_as_link", "acts_as_inner_link")%></li>
				<li class="shareFacebook acts_as_link" flyer_id="<%=flyer.id%>"><%=image_tag "facebook.png", :size=>"16x16"%>&nbsp;&nbsp; Share on Facebook</li>
				<li class="shareTwitter acts_as_link" flyer_id="<%=flyer.id%>"><%=image_tag "twitter.png", :size=>"16x16"%>&nbsp;&nbsp; Share on Twitter</li>
				<li lat="<%=flyer.lat%>" lng="<%=flyer.lng%>" class="getDirections acts_as_link"><%=image_tag "location.png", :size=>"16x16"%>&nbsp;&nbsp; Get Directions</li>
				
				<%if flyer.email == session[:email]%>
				<br /><br />
				<li event_id="<%=flyer.id%>" class="editItem acts_as_link">Edit This</li>
				<li event_id="<%=flyer.id%>" class="deleteItem acts_as_link">Delete This</li>
				<%end%>
			</ul>
		</td>
	</tr>
	<tr>
		<td class="left_side" width="200"> </td>
		<td class="middle_side">
			<%for visitor in flyer.visitors%>
			<div class="visit">
				<div class="visitor"><%=visitor.name%></div>
				<%=visitor.comment%>
				<div class="date"><%=visitor.created_at.strftime("%m/%d/%y")%></div>
			</div>
			<%end%>
			
			<span style="font-size:0.8em; color:#888;"><%=flyer.visitors.length%> people have been to see this.</span>
		</td>
		<td class="right_side" width="200"></td>
	</tr>
	
</table>
