<script>
	clearMap();
	<%if @now.length > 0%>
		<%for flyer in @now.reverse%>
			<% if @flyer == flyer %>marker = <%end%>addAddressToMap(<%=flyer.lat%>,<%=flyer.lng%>, { small: '<%=flyer.photo.url( :thumb )%>', large: '<%=flyer.photo.url( :medium )%>', text: '<%=sanitize flyer.media, :tags => %w(iframe), :attributes => %w(id class style src height width scrolling frameborder)%>'});
		<%end%>
	<%end%>
	addUser();
	$('#address').html('<%=@origin.full_address%>');
	<% if @flyer %>
		
		map.setCenter(marker.getPosition());
		google.maps.event.trigger(marker, 'click');
	<%end%>
</script><!-- TO DO: billboard goes here. //-->



<div id="nearby" class="content">
	<div class="header textual">Nearby, Right Now</div>
	<div class="flyers">
			<div id="mini_dragdrop_area">Submit Yours!</div>
		<%for flyer in @now%>
			<%image_tag flyer.photo.url( :thumb ), :size=>"130x163", :class=>"first"%>
			<%= link_to(image_tag(flyer.photo.url(:thumb), :size=>"130x163"), flyer.photo.url(:medium), :class => "top_up", :toptions => "shaded = 1, effect = fade, width = 400, height = 500, y = 100, x = auto") unless flyer.photo.nil? %>
		<%end%>
	</div>
</div>

<div id="soon" class="content box">
	<div class="header textual">Nearby, Soon</div>
	<div class="flyers">
		<%for flyer in @soon%>
			<%image_tag flyer.photo.url( :thumb ), :size=>"130x163", :class=>"first"%>
			<%= link_to(image_tag(flyer.photo.url(:thumb), :size=>"130x163"), flyer.photo.url(:medium), :class => "top_up") unless flyer.photo.nil? %>
		<%end%>
	</div>
</div>
