<script>
	clearMap();
	<%if @now.length > 0%>
		<%for flyer in @now.reverse%>
			marker = addAddressToMap(<%=flyer.lat%>,<%=flyer.lng%>, { get_distance_from: <%=flyer.get_distance_from%> , fbevent: '<%=flyer.fbevent%>', gravatar: '<%=gravatar_url(flyer.email, :size=>"40")%>'<%if Achievement.find_by_email(flyer.email)%>, profile: '<%=Achievement.find_by_email(flyer.email).id%>'<%end%>, flyer_id: '<%=flyer.id%>', small: '<%=flyer.photo.url( :small )%>', large: '<%=flyer.photo.url( :medium )%>', original: '<%=flyer.photo.url( :large )%>', text: '<%=sanitize flyer.media.gsub("\n",'').gsub("'",'"'), :tags => %w(iframe), :attributes => %w(id class style src height width scrolling frameborder)%>'}, false);
			markers["<%=flyer.id%>"] = marker;
			oMarkers.push(marker);
		<%end%>
	<%end%>

	latitude = parseFloat( '<%= session[:ll].split(',')[0] %>' );
	longitude = parseFloat( '<%= session[:ll].split(',')[1] %>' );
	addUser();
	$('#address').html('<%=session[:origin]%>');
	<% if @flyer %>
		map.setCenter(markers["<%=@flyer.id%>"].getPosition());
		SetViewedMarker(markers["<%=@flyer.id%>"]);
	<%end%>
</script>



<div id="nearby" class="content">
	<div class="header textual">Zero Board</div>
	<div class="flyers">
			<div id="mini_dragdrop_area">Submit Yours!</div>
		<%for flyer in @now%>
			<div class="f_element">
			<%= image_tag(flyer.photo.url(:small), :size=>"130x163", :class=> "show_on_map", :flyer_id=>flyer.id) unless flyer.photo.nil? %>
			</div>
		<%end%>
		<div class="spacer"></div>
	</div>
</div>
<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript"></script>
