<div id="add_panel">
	<table>
		<tr>
			<td><h1>Whose Shindig?</h1></td>
		</tr>
		<tr>
			<td><%=f.email_field :email, :placeholder=>"Your email address", :class=>"input_text" %></td>
		</tr>
		<tr>
			<td><h1>When?</h1></td>
		</tr>
		<tr>
			<td><%=f.text_field :expiry, :placeholder=>"Event date", :class=>"input_text"%></td>
		</tr>
		<tr>
			<td><h1>Where is it?</h1></td>
		</tr>
		<tr>
			<td><input class="input_text" id="event_loc" placeholder="Search local venues"><%= image_tag "cycle-small.gif", :id=>"search_wait", :size=>"20x20" %></td>
		</tr>
		<tr>
			<td class="foursquare_image"><%= image_tag "foursquare_small.png" %></td>
		</tr>
		<tr>
			<td class="offset" style="height:50px;">
			      <%= foursquare_venue( @event.venue_id ) %>
			</td>
		</tr>
		<tr>
			<td><h1>Have Media?</h1></td>
		</tr>
		<tr>
			<td><%=f.text_area :media, :placeholder=>"Embeded youtube, soundcloud, or reverbnation links here!", :class=>"input_text", :rows=>5%></td>
		</tr>
		<tr>
		  <td><div class="buttons"><input value="Create" id="submit_event" type="button" %></div></td>
		</tr>
	</table>
	<%= f.hidden_field :event_id %>
	<% if @event.validation_hash && @event.id %>
		<%= f.hidden_field :id %>
		<%= f.hidden_field :validation_hash %>
	<% end %>


</div>
