
<div id="add_panel">


<% if @event.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

	<ul>
		<% @event.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		<% end %>
	</ul>
	</div>
<%end%>

	<%=form_for( @event, :url=>{ :controller=>"events",:action=>"create" }, :id=>"event_form", :remote=>"true") do |f| %>
		<table>
			<tr>
				<td><h1>Who's Shindig?</h1></td>
			</tr>
			<tr>
				<td><%=f.email_field :email, :placeholder=>"Your email address", :class=>"input_text" %></td>
			</tr>
			<tr>
				<td><h1>When?</h1></td>
			</tr>
			<tr>
				<td><%=f.text_field :expiry, :placeholder=>"End date", :class=>"input_text"%></td>
			</tr>
			<tr>
				<td><h1>Where is it?</h1></td>
			</tr>
			<tr>
				<td><%=f.text_field :lat, :placeholder=>"Latitutde", :class=>"input_text"%></td>
			</tr>
			<tr>
				<td><%=f.text_field :lng, :placeholder=>"Longitude", :class=>"input_text"%></td>
			</tr>
			<tr>
				<td><h1>Flyer Image</h1></td>
			</tr>
			<tr>
				<td><div id="image_file"></div><%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg', :id=>"image_upload"%></td>
			</tr>
			<tr>
				<td><input value="Create" id="submit_event" type="button" %><input type="button" value="Nevermind" id="cancel"></td>
			</tr>
		</table>
	<%end%>
</div>
