<div id="message_container"><div id="message_content">
	<div id="create_wait"><%= image_tag "cycle-medium.gif" %><br />Submitting your event, please wait...</div>
	<div id="message_text"></div>
</div></div>
<div id="add_panel">
	<table>
		<tr>
			<td><h1>Who's Shindig?</h1></td>
		</tr>
		<tr>
			<td><%=f.email_field :email, :placeholder=>"Your email address", :class=>"input_text" %></td>
		</tr>
		<tr>
			<td><h1>When?</h1></td>
		</tr>
		<tr>
			<td><%=f.text_field :expiry, :placeholder=>"Event date", :class=>"input_text"%></td>
		</tr>
		<tr>
			<td><h1>Where is it?</h1></td>
		</tr>
		<tr>
			<td><input class="input_text" id="event_loc" placeholder="Search local venues"></td>
		</tr>
		<tr>
			<td class="foursquare_image"><%= image_tag "foursquare_small.png" %></td>
		</tr>
		<tr>
			<td class="offset">
				<img id="venue_icon"></img>
				<div id="venue_container">
					<div id="venue_name"></div>
					<div id="venue_location">No venue chosen</div>
				</div>
				<%=f.hidden_field :lat %>
				<%=f.hidden_field :lng %>
				<%=f.hidden_field :venue_id %>
			</td>
		</tr>
		<tr>
			<td><h1>Have Media?</h1></td>
		</tr>
		<tr>
			<td><%=f.text_area :media, :placeholder=>"Embeded youtube, soundcloud, or reverbnation links here!", :class=>"input_text", :rows=>5%></td>
		</tr>
		<tr>
		  <td>	<div id="buttons"><input value="Create" id="submit_event" type="button" %></div></td>
		</tr>
	</table>

</div>
