
<div id="add_panel">

	<div id="message_content">

	</div>

	<%=form_for( @event, :url=>{ :controller=>"events",:action=>"create" }, :remote=>"true") do |f| %>
		<table>
			<tr>
				<td><h1>Who's Shindig?</h1></td>
			</tr>
			<tr>
				<td><%=f.email_field :email, :placeholder=>"Your email address", :class=>"input_text" %></td>
			</tr>
			<tr>
				<td><h1>When?</h1></td>
			</tr>
			<tr>
				<td><%=f.text_field :expiry, :placeholder=>"End date", :class=>"input_text"%></td>
			</tr>
			<tr>
				<td><h1>Where is it?</h1></td>
			</tr>
			<tr>
				<td><input class="input_text" id="event_loc" placeholder="Venue name"></td>
			</tr>
			<tr>
				<td><h1>Flyer Image</h1></td>
			</tr>
			<tr>
				<td><div id="image_file"></div><%= f.file_field :photo, :accept => 'image/png,image/gif,image/jpeg', :id=>"image_upload"%></td>
			</tr>
			<tr>
				<td><input value="Create" id="submit_event" type="button" %><input type="button" value="Nevermind" id="cancel"></td>
			</tr>
		</table>
		<%=f.hidden_field :lat %>
		<%=f.hidden_field :lng %>
		<%=f.hidden_field :venue_id %>
	<%end%>
</div>
