<div id="nearby" class="content box">
	<div class="header textual">Nearby, Right Now</div>
	<script>clearMap();</script>
	<div class="flyers">
		<%for flyer in @now%>
			<%=image_tag flyer.photo.url( :small ), :size=>"130x163", :class=>"first"%>
			<script>addAddressToMap(<%=flyer.lat%>,<%=flyer.lng%>, '<%=flyer.photo.url( :small )%>');</script>
		<%end%>
	</div>
	<script>addUser();</script>
	
	<div class="header textual">More</div>
</div>
<br />
<div id="soon" class="content box">
	<div class="header textual">Nearby, Soon</div>
	<div class="flyers">
		<%for flyer in @soon%>
			<%=image_tag flyer.photo.url( :small ), :size=>"130x163", :class=>"first"%>
		<%end%>
	</div>
	
	<div class="header textual">More</div>
</div>
<script>$('#address').html('<%=@origin.full_address%>');</script>
