<div class="profile box">
	<div class="visage">
		<table width="100%">
			<tr>
				<td valign="top" style="width:210px;">
					<%=image_tag gravatar_url(@profile.email, :size=>"200"), :class=>'box'%>
					<div class="tip">Update this photo on <%=link_to 'GRAVATAR', 'http://www.gravatar.com/'%>.</div>
				</td>
				<td valign="top">
					<div class="points box"><%=@profile.email.split('@')[0][0]%>*****@<%=@profile.email.split('@')[1]%>(<%=@profile.points%>)</div>
					<div class="profile_name" id="<%=gravatar_hash(@profile.email)%>_name"></div>
					<div class="profile_twitter" id="<%=gravatar_hash(@profile.email)%>_profile">
						<script src="http://www.gravatar.com/<%=gravatar_hash(@profile.email)%>.json?callback=loadProfile" type="text/javascript"></script>
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="flyers">
	Promotion History<br /><br />
	<%for flyer in @flyers%>
		<%if !flyer.photo(:small).include?('/missing.png')%>
		<%= link_to image_tag(flyer.photo(:small), :size=>"130x163"), flyer.photo(:large), :target=>"_new"%>
		<%end%>
	<%end%>
	</div>

</div>

