<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# flyerzeromobile: http://ogp.me/ns/fb/flyerzeromobile#">
  <title>Flyer Zero API | Developers</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
  <meta property="og:title" content="Flyer Zero API"/>
  <meta property="og:description" content="Geolocation driven photo storage API for web and mobile platforms." />
  <meta property="og:url" content="http://www.flyerzero.com/"/>
  <meta property="og:image" content="http://www.flyerzero.com/assets/Icon0_512.png"/>
  <meta name="google-site-verification" content="ZT5zfsirjSt9UFCOg_XcbTvceY4BKmxrdFkFbG7X-UM" />
  <meta property="og:type" content="website" />
  <meta property="fb:app_id" content="288588701253698" /> 

</head>
<body>

<div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '288588701253698', // App ID from the App Dashboard
     // channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here
  };


(function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
</script>

	
	<%= yield %>

		
<!-- Google Analytics -->
<%= render :partial => "layouts/ga" if Rails.env == "production" %>

<!-- End Google Analytics -->
</body>
</html>
