<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# flyerzeromobile: http://ogp.me/ns/fb/flyerzeromobile#">
  <title>Flyer Zero</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>

  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDgDc6rdIUKqZlIPRZFbCveT1QWTncTDzE&sensor=false"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker.js"></script>
  <%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js" %>

  <%if params[:flyer]%>
  <%
  	event = Event.find(params[:flyer])
  	fsVenueName = foursquare_venue_name(event.venue_id)
  %>
  <meta property="og:image" content="http://www.flyerzero.com<%=event.photo(:large)%>"/>
  <meta property="og:description" content="Check out this Flyer Zero event flyer for <%=event.expiry.to_formatted_s(:long_ordinal)%> at <%= fsVenueName %>." />
  <%if params[:act]%>
  	<meta property="og:url" content="http://www.flyerzero.com/?act=<%=params[:act]%>&flyer=<%=params[:flyer]%>"/>
  	<meta property="og:title" content="An event at <%= fsVenueName %>!"/>
  	<meta property="og:type" content="flyerzeromobile:<%=params[:act]%>" />
  <%else%>
  	<meta property="og:url" content="http://www.flyerzero.com/?flyer=<%=params[:flyer]%>"/>
  	<meta property="og:title" content="Event Flyer for <%=event.expiry.to_formatted_s(:long_ordinal)%> at <%= fsVenueName %>"/>
  	<meta property="og:type" content="flyerzeromobile:flyer" />
  <%end%>
  <script>
  	focusFlyer = '<%=params[:flyer]%>';
  </script>
  <%else%>
  <meta property="og:title" content="Flyer Zero"/>
  <meta property="og:description" content="1 part Flyer. 1 part Foursquare. 1 part Google Maps. 2 parts Kung Fu." />
  <meta property="og:url" content="http://www.flyerzero.com/"/>
  <meta property="og:image" content="http://www.flyerzero.com/assets/Icon0_512.png"/>
  <meta name="google-site-verification" content="ZT5zfsirjSt9UFCOg_XcbTvceY4BKmxrdFkFbG7X-UM" />
  <meta property="og:type" content="website" />
  <%end%>
  <meta property="fb:app_id" content="288588701253698" /> 

  <script>
  <% if defined? params[:id] and params[:id] == "about" %>
	aboutEnable = true;
  <% else %>
	aboutEnable = false;
  <% end %>

  var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i) ? true : false;
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i) ? true : false;
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i) ? true : false;
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
    }
};


  </script>

</head>
<body class="primary">
<script
  <!-- load intent -->
  if( isMobile.any() ){
  ifrm = document.createElement("IFRAME");
   ifrm.setAttribute("src", "flyerzero://event/<%=params[:flyer]%>");
   ifrm.style.width = "0px";
   ifrm.style.height = "0px";
   ifrm.style.display = "none";
   document.body.appendChild(ifrm);
   }
  </script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id="map_canvas" style="width: 100%; height: 100%; position:absolute; top:0; left:0;"></div>
    

          
    
    <div id="userzero" class=''>
      <div id='submit_link' class="box menu_item left_link">Submit a Flyer</div>
      <%=image_tag 'mainlogo-text.png', :class=>"branding", :size=>"237x45"%>
      <span id="fb_likie" class="fb-like" data-href="https://www.facebook.com/FlyerZero" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true"></span>
    		<div id='map_link' class="box menu_item right_link" style="display:none;">The Zero Map</div>
    		<div id='board_link' class="box menu_item right_link">The Zero Board</div>
    		
    	</div>
      <div id="map_overlay">
        <span id="flyer_distance">Loading...</span><br/>
      </div>
      <div id="bottom_bar">

          <div id="address_container">
            <div id="address_title">
              Your Zero
            </div>
            <div id="address" class="menu_item">
              Unknown.        
            </div>
            <span id="change_location"><input id='new_location' placeholder='Want to look at another location?'><button class='change_location'>Take a Look!</button></span></span>
          </div>
          <table id="navigation_table">
              <tr>
                <td rowspan="2" id="previous">
                  Prev
                </td>
                <td id="zoomIn">
                  +
                </td>
                <td rowspan="2" id="next">
                  Next
                </td>
              </tr>
              <tr>
                <td id="zoomOut">
                  -
                </td>
              </tr>
          </table>
          <table id="venue_table">
              <tr>
                  <td id="vt_icon">
                    <img width="32px" height="32px" src="" />
                  </td>
                  <td id="vt_name">
                  </td>
              </tr>
              <tr>
                  <td colspan="2" id="vt_location">
                  </td>
              </tr>
          </table>
      </div>
  <% if notice %>
		<div id="notice" class='box' style="display:none;margin-top:42px"><div class="text"><%=raw notice%></div></div>

		<script>
			$('#notice').slideDown(600);
			$('#notice').delay( 5000 ).slideUp(600);
		</script>
	<%end%>

<%= yield %>

<!-- Google Analytics -->
<%= render :partial => "layouts/ga" if Rails.env == "production" %>

</body>
</html>
