<!DOCTYPE html>
<html>
<head>
  <title>Flyer Zero</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>

  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDgDc6rdIUKqZlIPRZFbCveT1QWTncTDzE&sensor=false"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker.js"></script>
  <%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js" %>

  <%if params[:flyer]%>
  <%event = Event.find(params[:flyer])%>
  <meta property="og:title" content="Flyer Zero Event"/>
  <meta property="og:url" content="http://www.flyerzero.com/?flyer=<%=params[:flyer]%>"/>
  <meta property="og:image" content="http://www.flyerzero.com<%=event.photo(:medium)%>"/>
  <meta property="og:description" content="Check out this event on <%=event.expiry.to_formatted_s(:long_ordinal)%> at <%= foursquare_venue_name event.venue_id %>" />
  <script>
  	focusFlyer = '<%=params[:flyer]%>';
  </script>
  <%else%>
  <meta property="og:title" content="Flyer Zero"/>
  <meta property="og:description" content="1 part Flyer. 1 part Foursquare. 1 part Google Maps. 2 parts Kung Fu." />
  <meta property="og:url" content="http://www.flyerzero.com/"/>
  <meta property="og:image" content="http://www.flyerzero.com/assets/user.png"/>
  <meta name="google-site-verification" content="ZT5zfsirjSt9UFCOg_XcbTvceY4BKmxrdFkFbG7X-UM" />
  <%end%>

  <script>
  <% if defined? params[:id] and params[:id] == "about" %>
	aboutEnable = true;
  <% else %>
	aboutEnable = false;
  <% end %>
  </script>

</head>
<body class="primary">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id="map_canvas" style="width: 100%; height: 100%; position:absolute; top:0; left:0;"></div>
    <%=image_tag 'mainlogo-text.png', :class=>"branding"%>
    <div id="userzero" class=''>
    	<span style="padding:3px;padding-left:10px; float:left;">Your Zero: <span id="address">Unknown.</span>
    	<span id="change_location"><input id='new_location' placeholder='Want to look at another location?'><button class='change_location'>Take a Look!</button></span></span>
    	<span class="control_links" style="padding:3px; padding-right:10px; float:right;">
    		<span id='map_link' class="box menu_item" style="display:none;">The Zero Map</span>
    		<span id='board_link' class="box menu_item">The Zero Board</span> |
    		<span id='submit_link' class="box menu_item">Submit a Flyer</span>
    		<div class="fb-like" data-href="https://www.facebook.com/FlyerZero" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true"></div>
    	</span>
    	</div>
    	<% if notice %>
		<div id="notice" class='box' style="display:none;"><div class="text"><%=raw notice%></div></div>

		<script>
			$('#notice').slideDown(600);
			$('#notice').delay( 5000 ).slideUp(600);
		</script>
	<%end%>

<%= yield %>

<!-- Google Analytics -->
<%= render :partial => Ôlayouts/gaÕ if RAILS_ENV == ÔproductionÕ %>

</body>
</html>
