<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# flyerzeromobile: http://ogp.me/ns/fb/flyerzeromobile#">
  <title>Flyer Zero</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>

  <script src="http://maps.google.com/maps/api/js?key=AIzaSyDgDc6rdIUKqZlIPRZFbCveT1QWTncTDzE&sensor=false"></script>
  <script src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/richmarker/src/richmarker.js"></script>
  <%= javascript_include_tag "http://gettopup.com/releases/latest/top_up-min.js" %>

  <%if params[:flyer]%>
  <%
  	event = Event.find(params[:flyer])
  	fsVenueName = foursquare_venue_name(event.venue_id)
  %>
  <meta property="og:title" content="<%= fsVenueName %>"/>
  <meta property="og:url" content="http://www.flyerzero.com/?flyer=<%=params[:flyer]%>"/>
  <meta property="og:image" content="http://www.flyerzero.com<%=event.photo(:large)%>"/>
  <meta property="og:description" content="Check out this flyer for <%=event.expiry.to_formatted_s(:long_ordinal)%> at <%= fsVenueName %>" />
  <meta property="og:type" content="flyerzeromobile:event" />
  <script>
  	focusFlyer = '<%=params[:flyer]%>';
  </script>
  <%else%>
  <meta property="og:title" content="Flyer Zero"/>
  <meta property="og:description" content="1 part Flyer. 1 part Foursquare. 1 part Google Maps. 2 parts Kung Fu." />
  <meta property="og:url" content="http://www.flyerzero.com/"/>
  <meta property="og:image" content="http://www.flyerzero.com/assets/Icon0_512.png"/>
  <meta name="google-site-verification" content="ZT5zfsirjSt9UFCOg_XcbTvceY4BKmxrdFkFbG7X-UM" />
  <meta property="og:type" content="website" />
  <%end%>
  <meta property="fb:app_id" content="288588701253698" /> 

  <script>
  <% if defined? params[:id] and params[:id] == "about" %>
	aboutEnable = true;
  <% else %>
	aboutEnable = false;
  <% end %>

  var isMobile = {
    Android: function() {
        return navigator.userAgent.match(/Android/i) ? true : false;
    },
    BlackBerry: function() {
        return navigator.userAgent.match(/BlackBerry/i) ? true : false;
    },
    iOS: function() {
        return navigator.userAgent.match(/iPhone|iPad|iPod/i) ? true : false;
    },
    Windows: function() {
        return navigator.userAgent.match(/IEMobile/i) ? true : false;
    },
    any: function() {
        return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Windows());
    }
};


  </script>

</head>
<body class="primary">
<script
  <!-- load intent -->
  if( isMobile.any() ){
  ifrm = document.createElement("IFRAME");
   ifrm.setAttribute("src", "flyerzero://event/<%=params[:flyer]%>");
   ifrm.style.width = "0px";
   ifrm.style.height = "0px";
   ifrm.style.display = "none";
   document.body.appendChild(ifrm);
   }
  </script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id="map_canvas" style="width: 100%; height: 100%; position:absolute; top:0; left:0;"></div>
    
          <div id="map_overlay">
              <span id="flyer_distance">Loading...</span><br/>
              <img id="map_navigation" src="/assets/map_overlay.png" usemap="#gmapui" style="display:none;">
                  <map name="gmapui">
                      <area id="previous" shape="rect" coords="6,55,55,6" alt="Previous Event" />
                      <area id="zoomIn" shape="rect" coords="56,25,106,0" alt="Zoom In" />
                      <area id="zoomOut" shape="rect" coords="56,56,106,32" alt="Zoom Out" />
                      <area id="next" shape="rect" coords="107,55,157,6" alt="Next Event" />
                  </map>
          </div>
          
    <%=image_tag 'mainlogo-text.png', :class=>"branding"%>
    <div id="userzero" class=''>
    	<span style="padding:3px;padding-left:10px; float:left;">Your Zero: <span id="address" class="box menu_item">Unknown.</span>
    	<span id="change_location"><input id='new_location' placeholder='Want to look at another location?'><button class='change_location'>Take a Look!</button></span></span>
    	<span class="control_links" style="padding:3px; padding-right:10px; float:right;">
    		<span id='map_link' class="box menu_item" style="display:none;">The Zero Map</span>
    		<span id='board_link' class="box menu_item">The Zero Board</span> <span class="menu_barrier">|</span>
    		<span id='submit_link' class="box menu_item">Submit a Flyer</span>
    		<div class="fb-like" data-href="https://www.facebook.com/FlyerZero" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true"></div>
    	</span>
    	</div>
    	<% if notice %>
		<div id="notice" class='box' style="display:none;"><div class="text"><%=raw notice%></div></div>

		<script>
			$('#notice').slideDown(600);
			$('#notice').delay( 5000 ).slideUp(600);
		</script>
	<%end%>

<%= yield %>

<!-- Google Analytics -->
<%= render :partial => "layouts/ga" if Rails.env == "production" %>

</body>
</html>
