<!DOCTYPE html>
<html>
<head>
  <title>Flyer Zero</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://cloud.github.com/downloads/malsup/cycle/jquery.cycle.all.latest.js"></script>
  
  <%promoter = Achievement.find(params[:id])%>

  <%if promoter != nil%>
  <meta property="og:title" content="Flyer Zero Promoter Profile"/>
  <meta property="og:url" content="http://www.flyerzero.com/profile/view/<%=params[:id]%>"/>
  <meta property="og:image" content="<%=gravatar_url(promoter.email, :size=>'200')%>"/>
  <meta property="og:description" content="Check out this promoter on Flyer Zero!" />
  <%end%>

</head>
<body class="primary body_profile">

	<div id="address_container">
			<a href="" id="address" data-title="CHANGE YOUR LOCATION" style="display:none;"><%=image_tag "location.png", :size=>"25x25"%></a>
			<%if session[:authenticated]%>
			<!--<a href="/profile/view/<%=session[:profile]%>" data-title="CHECK OUT YOUR PROFILE"><%=image_tag "happyface.png", :size=>"25x25"%></a>-->
			<a href="/submit" data-title="SUBMIT A PICTURE"><%=image_tag "submit.png", :size=>"25x25"%></a>
			<span id="logout" class="acts_as_link" data-title="LOG OUT"><%=image_tag "shutdown.png", :size=>"25x25"%></span>
			
			<%else%>
			<span id="login" class="acts_as_link" data-title="LOG IN WITH FACEBOOK"><%=image_tag "shutdown.png", :size=>"25x25"%></span>
			<%end%>
	</div>
	
	<div id="menu_help"></div>
	<div id="header">
		<div><a href="/" style="color:white;">FLYER</a></div>
		<div style="position:absolute;top:30px;left:48px;"><a href="/" style="color:#f9e101;">ZERO</a></div>
	</div>
	

<%= yield %>

	<div id="footer">
		<a href="/">Flyer Zero</a> is a kickass <a href="http://www.openformfoundation.org/">Open Form Foundation</a> joint. &copy;2012
		<span id="fb_likie" class="fb-like" data-href="https://www.facebook.com/FlyerZero" data-send="false" data-layout="button_count" data-width="80" data-show-faces="true"></span>
	</div>
</body>
</html>
