<!DOCTYPE html>
<html>
<head>
  <title>Flyer Zero</title>
  <%= stylesheet_link_tag    "application" %>
  <% javascript_include_tag "application" %>
  <script src="http://widgets.twimg.com/j/2/widget.js"></script>
  <%= javascript_include_tag "gravatar.js" %>
  <%= csrf_meta_tags %>
  <%promoter = Achievement.find(params[:id])%>
  
  <%if promoter != nil%>
  <meta property="og:title" content="Flyer Zero Promoter Profile"/>
  <meta property="og:url" content="http://www.flyerzero.com/profile/view/<%=params[:id]%>"/>
  <meta property="og:image" content="<%=gravatar_url(promoter.email, :size=>'200')%>"/>
  <meta property="og:description" content="Check out this promoter on Flyer Zero!" />
  <%end%>

</head>
<body class="primary">

    <%=image_tag 'mainlogo-text.png'%>
    
    	<% if notice %>
		<div id="notice" class='box' style="display:none;"><div class="text"><%=raw notice%></div></div>
		
		<script>
			$('#notice').slideDown(600);
			$('#notice').delay( 5000 ).slideUp(600);
		</script>
	<%end%>
    
<%= yield %>

</body>
</html>
